<!DOCTYPE html>
<html>
<head>
	<title>Peanut</title>
	<style>
		{{ template "common_css" }}
	</style>
	<script>
		{{ block "head_script" . }}
		{{ end }}
	</script>
</head>
<body>
	<div id="title-bar">
		<h1>Website</h1>
		{{ if .LoggedIn }}
			<form action="/logout" method="post">
				<div><p>
					Welcome - <input type="submit" value="Log out">
				</p></div>
			</form>
		{{ else }}
			<div><a href="/login">Log In</a></div>
		{{ end }}
	</div>
	<nav id="top-nav">
		<ul>
			<li><a href="/">Home</a></li>
			{{ if .Perm_Admin_Gui_View }}
				<li><a href="/admin">Admin</a></li>
			{{ end }}
			<li><a href="/">Forum Index</a></li>
		</ul>
		<ul>
			<li></li>
		</ul>
	</nav>

	{{ block "content" . }}
		<p>No content</p>
	{{ end }}

	<hr>
	<div class="footer">
		<p>Rendered in {{ .RequestDuration }}ms</p>
	</div>
</body>
</html>
