{{ define "content" }}
<div class="layout">
	<div class="layout-main">
		<div class="panel compact">
			<div class="panel-header">
				<h1>Log in</h1>
			</div>
			<div class="panel-body">
				<form class="standard-form" action="" method="post">
					<label for="input_username">Username</label>
					<input type="text" id="input_username" name="username">
					<label for="input_password">Password</label>
					<input type="password" id="input_password" name="password">
					<input type="hidden" name="csrf" value="{{ .CsrfToken }}">
					<input type="submit" value="Log in">
				</form>
				<p class="login-divider">or</p>
				<p class="login-alt"><a href="/register">Register a new account</a></p>
			</div>
		</div>
	</div>
</div>
{{ end }}
