{{ define "content" }}
<div class="login-panel">
	<div class="login-panel-header">
		<h1>Log in</h1>
	</div>
	<div class="simple-form">
		<form action="#" method="post">
			<label for="input_username">Username:</label>
			<input type="text" id="input_username" name="username">
			<label for="input_password">Password:</label>
			<input type="password" id="input_password" name="password">
			<input type="submit" value="Log in">
		</form>
		<p>or</p>
		<p><a href="/">Register a new account</a></p>
	</div>
</div>
{{ end }}
