{{ define "content" }}
<div class="layout">
	<div class="layout-main">
		<div class="panel compact">
			<div class="panel-header">
				<h1>Register</h1>
			</div>
			<div class="panel-body">
				<form class="standard-form" action="" method="post">
					<label for="input_username">Username:</label>
					<input type="text" id="input_username" name="username">
					<label for="input_email">Email:</label>
					<input type="text" id="input_email" name="email">
					<label for="input_password">Password:</label>
					<input type="password" id="input_password" name="password">
					<label for="input_password2">Repeat password:</label>
					<input type="password" id="input_password2" name="password2">
					<input type="hidden" name="csrf" value="{{ .CsrfToken }}">
					<input type="submit" value="Register">
				</form>
			</div>
		</div>
	</div>
</div>
{{ end }}
