{% extends 'admin/base.html' %}

{% block admin-content %}
<div class="vertical-flex-container">
	<div class="simple-panel">
		<div class="simple-panel-header"><h1>List Users</h1></div>
		<div class="simple-panel-content horizontal-space-evenly">
			<table>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>System</th>
					<th>Created</th>
				</tr>
				{% for this_group in groups %}
				<tr>
					<td>{{ this_group.id }}</td>
					<td>{{ this_group.name }}</td>
					<td>{{ this_group.description }}</td>
					<td>{{ this_group.system_owned }}</td>
					<td>{{ this_group.created }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
