{% extends 'base.html' %}

{% block content %}
<div class="cp-container">
	<div>
		<nav>
			<p>Configuration</p>
			<p><a href="/admin">Index</a></p>
		</nav>
	</div>
	<div class="simple-panel-container">
		<div class="simple-panel">
			<div class="simple-panel-header"><h1>Admin Index</h1></div>
			<div class="simple-panel-content">
				<table>
					{% for env_entry in environment %}
						<tr>
							<td>{{ env_entry.a() }}</td>
							<td>{{ env_entry.b() }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
