{% extends 'admin/base.html' %}

{% block admin-content %}
<div class="vertical-flex-container">
	<div class="simple-panel">
		<div class="simple-panel-header"><h1>List Users</h1></div>
		<div class="simple-panel-content">
			<div class="simple-column simple-center-60">
				<p><a href="/admin/users/list/all">List all users</a></p>
				<hr class="fullwidth">
				<div class="simple-form">
					<br>
					<form action="/admin/users/list" method="post">
						<label for="input_pattern">Display name (% for wildcard):</label>
						<input type="text" id="input_pattern" name="pattern">
						<input type="hidden" name="{{ _csrfParam }}" value="{{ _csrfToken }}">
						<input type="submit" value="Search by username">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
