{{ define "widget_forum_section" }}
<div class="data-table cols-forum">
	<div class="data-row data-header">
		<div class="data-cell">
			<h1><a href="/forum/section/{{ .Id }}">{{ .Name }}</a></h1>
		</div>
		<div class="data-cell">
			<h1>Threads</h1>
		</div>
		<div class="data-cell">
			<h1>Posts</h1>
		</div>
		<div class="data-cell">
			<h1>Last Post</h1>
		</div>
	</div>

	{{ range $forum := .Forums }}
	<div class="data-row">
		<div class="data-cell">
			<h1><a href="/forum/index/{{ $forum.Id }}">{{ $forum.Name }}</a></h1>
			<p class="description">{{ $forum.Description }}</p>
		</div>
		<div class="data-cell">
			<h2>{{ $forum.ThreadCount }}</h2>
		</div>
		<div class="data-cell">
			<h2>{{ $forum.PostCount }}</h2>
		</div>
		<div class="data-cell">
			<h2>{{ $forum.LastPostDate }}</h2>
		</div>
	</div>
	{{ end }}
</div>
{{ end }}
