{{ define "admin_content" }}
<div class="panel">
	<div class="panel-header">
		{{ if .EditMode }}
			<h1>Edit Forum</h1>
		{{ else if .AddMode }}
			<h1>Add Forum</h1>
		{{ else }}
			<h1>Error</h1>
		{{ end }}
	</div>
	<div class="panel-body">
		{{ if or .EditMode .AddMode }}
			<form class="standard-form" method="post">
				{{ if .EditMode }}
					<label for="forum_id">Forum ID:</label>
					<input type="text" id="forum_id" name="forum" value="{{ .Forum.Id }}" readonly>
				{{ end }}
				<label for="forum_section">Section:</label>
				<select id="forum_section" name="section_id">
					{{ range $section := .Sections }}
						<option value="{{ $section.Id }}" {{ if $.EditMode }}{{ if eq $section.Id $.Forum.SectionId }}selected{{ end }}{{ end }}>{{ $section.Name }} [{{ $section.Id }}]</option>
					{{ end }}
				</select>
				<label for="forum_name">Name:</label>
				<input type="text" id="forum_name" name="name" value="{{ if .EditMode }}{{ .Forum.Name }}{{ end }}">
				<label for="forum_order">Order:</label>
				<input type="text" id="forum_order" name="order" value="{{ if .EditMode }}{{ .Forum.Ordering }}{{ end }}">
				<label for="forum_visibility">Visibility:</label>
				<select id="forum_visibility" name="visibility">
					<option value="Public" {{ if $.EditMode }}{{ if eq $.Forum.Visibility "Public" }}selected{{ end }}{{ end }}>Public</option>
					<option value="Private" {{ if $.EditMode }}{{ if eq $.Forum.Visibility "Private" }}selected{{ end }}{{ end }}>Private</option>
				</select>
				<input type="hidden" name="csrf" value="{{ .CsrfToken }}">
				<input id="submit_button" type="submit" value="Submit">
			</form>
		{{ else }}
			<p>Error: Invalid page mode.</p>
		{{ end }}
	</div>
</div>
{{ end }}
