{{ define "admin_head_script"}}
	document.addEventListener('DOMContentLoaded', function() {
		let confirm_check = document.getElementById("confirm_check")
		let submit_button = document.getElementById("submit_button")
		confirm_check.addEventListener("click", function() {
			submit_button.disabled = !(confirm_check.checked)
		});
		confirm_check.checked = false;
		submit_button.disabled = true;
	});
{{ end }}

{{ define "admin_content" }}
<div class="panel">
	<div class="panel-header">
		<h1>Forums</h1>
	</div>
	<div class="panel-body">
		<table>
			<tr>
				<th>ID</th>
				<th>Section ID</th>
				<th>Name</th>
				<th>Ordering</th>
				<th>Visibility</th>
				<th>Created</th>
			</tr>
			{{ range $forum := .Forums }}
			<tr>
				<td>{{ $forum.Id }}</td>
				<td>{{ $forum.SectionId }}</td>
				<td>{{ $forum.Name }}</td>
				<td>{{ $forum.Ordering }}</td>
				<td>{{ $forum.Visibility }}</td>
				<td>{{ $forum.Created.Format "2006-01-02 15:04:05.000 MST" }}</td>
			</tr>
			{{ end }}
		</table>
		<hr>
		<p><a href="/admin/forum/forums/add">Add new forum</a></p>
	</div>
</div>
<div class="panel">
	<div class="panel-header">
		<h1>Edit Forum</h1>
	</div>
	<div class="panel-body">
		<form class="standard-form" action="/admin/forum/forums/edit" method="post">
			<label for="edit_forum">Forum:</label>
			<select id="edit_forum" name="forum">
				{{ range $forum := .Forums }}
					<option value="{{ $forum.Id }}">{{ $forum.Name }} [{{ $forum.Id }}]</option>
				{{ end }}
			</select>
			<input type="hidden" name="csrf" value="{{ .CsrfToken  }}">
			<input type="submit" value="Edit">
		</form>
	</div>
</div>
<div class="panel">
	<div class="panel-header">
		<h1>Delete Forum</h1>
	</div>
	<div class="panel-body">
		<form class="standard-form" action="/admin/forum/forums/delete" method="post">
			<label for="forum_name">Forum:</label>
			<select id="forum_name" name="forum">
				{{ range $forum := .Forums }}
					<option value="{{ $forum.Id }}">{{ $forum.Name }} [{{ $forum.Id }}]</option>
				{{ end }}
			</select>
			<div><input id="confirm_check" type="checkbox" name="confirm"><label for="confirm_check">Confirm</label></div>
			<input type="hidden" name="csrf" value="{{ .CsrfToken  }}">
			<input class="danger-button" id="submit_button" type="submit" value="Delete">
		</form>
	</div>
</div>
{{ end }}
