{{ define "admin_content" }}
<div class="panel">
	<div class="panel-header">
		<h1>Forum Sections</h1>
	</div>
	<div class="panel-body">
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Ordering</th>
				<th>Visibility</th>
				<th>Created</th>
			</tr>
			{{ range $section := .Sections }}
			<tr>
				<td>{{ $section.Id }}</td>
				<td>{{ $section.Name }}</a></td>
				<td>{{ $section.Ordering }}</a></td>
				<td>{{ $section.Visibility }}</a></td>
				<td>{{ $section.Created.Format "2006-01-02 15:04:05.000 MST" }}</td>
			</tr>
			{{ end }}
		</table>
		<hr>
		<p><a href="/admin/forum/sections/add">Add new section</a></p>
	</div>
</div>
<div class="panel">
	<div class="panel-header">
		<h1>Delete Section</h1>
	</div>
	<div class="panel-body">
		<form class="standard-form" action="/admin/forum/sections/delete" method="post">
			<label for="section_name">Section:</label>
			<select id="section_name" name="section">
				{{ range $section := .Sections }}
					<option value="{{ $section.Id }}">{{ $section.Name }} [{{ $section.Id }}]</option>
				{{ end }}
			</select>
			<input type="hidden" name="csrf" value="{{ .CsrfToken  }}">
			<input type="submit" value="Delete">
		</form>
	</div>
</div>
{{ end }}
