{{ define "admin_head_script"}}
	document.addEventListener('DOMContentLoaded', function() {
		let confirm_check = document.getElementById("confirm_check")
		let submit_button = document.getElementById("submit_button")
		confirm_check.addEventListener("click", function() {
			submit_button.disabled = !(confirm_check.checked)
		});
		confirm_check.checked = false;
		submit_button.disabled = true;
	});
{{ end }}

{{ define "admin_content" }}
<div class="panel">
	<div class="panel-header">
		<h1>Forum Sections</h1>
	</div>
	<div class="panel-body">
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Ordering</th>
				<th>Visibility</th>
				<th>Created</th>
			</tr>
			{{ range $section := .Sections }}
			<tr>
				<td>{{ $section.Id }}</td>
				<td>{{ $section.Name }}</a></td>
				<td>{{ $section.Ordering }}</a></td>
				<td>{{ $section.Visibility }}</a></td>
				<td>{{ $section.Created.Format "2006-01-02 15:04:05.000 MST" }}</td>
			</tr>
			{{ end }}
		</table>
		<hr>
		<p><a href="/admin/forum/sections/add">Add new section</a></p>
	</div>
</div>
<div class="panel">
	<div class="panel-header">
		<h1>Edit Section</h1>
	</div>
	<div class="panel-body">
		<form class="standard-form" action="/admin/forum/sections/edit" method="post">
			<label for="edit_section">Section:</label>
			<select id="edit_section" name="section">
				{{ range $section := .Sections }}
					<option value="{{ $section.Id }}">{{ $section.Name }} [{{ $section.Id }}]</option>
				{{ end }}
			</select>
			<input type="hidden" name="csrf" value="{{ .CsrfToken  }}">
			<input type="submit" value="Edit">
		</form>
	</div>
</div>
<div class="panel">
	<div class="panel-header">
		<h1>Delete Section</h1>
	</div>
	<div class="panel-body">
		<form class="standard-form" action="/admin/forum/sections/delete" method="post">
			<label for="section_name">Section:</label>
			<select id="section_name" name="section">
				{{ range $section := .Sections }}
					<option value="{{ $section.Id }}">{{ $section.Name }} [{{ $section.Id }}]</option>
				{{ end }}
			</select>
			<div><input id="confirm_check" type="checkbox" name="confirm"><label for="confirm_check">Confirm</label></div>
			<input type="hidden" name="csrf" value="{{ .CsrfToken  }}">
			<input class="danger-button" id="submit_button" type="submit" value="Delete">
		</form>
	</div>
</div>
{{ end }}
