{{ define "head_script" }}
	{{ block "admin_head_script" . }}
	{{ end }}
{{ end }}

{{ define "content" }}
<div class="layout with-side">
	<aside class="layout-side">
		<nav class="side-nav">
			<div class="side-nav-title">General</div>
			<a href="/admin">Index</a>
			<a href="/admin/front_page">Front Page</a>
			<a href="/admin/users">Users</a>
			<a href="/admin/groups">Groups</a>
		</nav>
		<nav class="side-nav">
			<div class="side-nav-title">Forum</div>
			<a href="/admin/forum/sections">Sections</a>
		</nav>
		<nav class="side-nav">
			<div class="side-nav-title">Maintenance</div>
			<a href="/admin/scheduled_jobs">Scheduled Jobs</a>
		</nav>
	</aside>
	<div class="layout-main">
		{{ block "admin_content" . }}
			<p>Error: Failed to load admin page content.</p>
		{{ end }}
	</div>
</div>
{{ end }}
