{{ define "admin_head_script"}}
	document.addEventListener('DOMContentLoaded', function() {
		let confirm_check = document.getElementById("confirm_check")
		let submit_button = document.getElementById("submit_button")
		confirm_check.addEventListener("click", function() {
		submit_button.disabled = !(confirm_check.checked)
		});
		confirm_check.checked = false;
		submit_button.disabled = true;
	});
{{ end }}

{{ block "admin_content" . }}
<div class="vertical-flex-container">
	<div class="simple-panel">
		<div class="simple-panel-header"><h1>Welcome Message</h1></div>
		<div class="simple-panel-content">
			<form action="/admin/front_page/welcome_message" method="post">
				<div class="simple-column simple-center-60">
					<label for="message_box">Message:</label>
					<textarea id="message_box" name="message">{{ .WelcomeMessage }}</textarea>
					<div><input id="confirm_check" type="checkbox" name="confirm"><label for="confirm_check">Confirm</label></div>
					<input type="hidden" name="csrf" value="{{ .CsrfToken }}">
					<input id="submit_button" type="submit" value="Update">
				</div>
			</form>
		</div>
	</div>
</div>
{{ end }}
