<!DOCTYPE html>
<html>
<head>
	<title>Peanut</title>
	<style>
        {% include 'css/everything.css' %}
	</style>
</head>
<body>
<div id="root">
	<div id="title-bar">
		<h1>Website</h1>
		{% if user.logged_in %}
			<form action="/logout" method="post">
				<div><p>Welcome {{ user.name }} - <input type="submit" value="Log out"></p></div>
				<input type="hidden" name="{{ _csrfParam }}" value="{{ _csrfToken }}">
			</form>
		{% else %}
			<div><a href="/login">Log In</a></div>
		{% endif %}
	</div>
	<nav id="top-nav">
		<ul>
			<li><a href="/">Home</a></li>
			{% if user.admin %}
				<li><a href="/admin">Admin</a></li>
			{% endif %}
			<li><a href="#">Forum Index</a></li>
		</ul>
		<ul>
			<li></li>
		</ul>
	</nav>

	{% block content %}{% endblock %}
</div>
</body>
</html>
