{{ define "content" }}
<div class="layout">
	<div class="layout-main">
		<div class="breadcrumb-row">
			<p class="breadcrumb"><a href="/forum/section/{{ .SectionId }}">{{ .SectionName }}</a> &rsaquo; <a href="/forum/index/{{ .ForumId }}">{{ .ForumName }}</a> &rsaquo; <a href="/forum/thread/{{ .ThreadId }}">{{ .ThreadTitle }}</a> &rsaquo; Reply</p>
		</div>
		<div class="panel medium">
			<div class="panel-header">
				<h1>Post Reply</h1>
			</div>
			<div class="panel-body">
				<form class="standard-form" action="/forum/thread/{{ .ThreadId }}/reply" method="post">
					<label for="input_title">Reply to:</label>
					<input type="text" id="input_title" value="{{ .ThreadTitle }}" readonly>
					<label for="input_message">Message:</label>
					<textarea rows="8" id="input_message" name="message"></textarea>
					<input type="hidden" name="csrf" value="{{ .CsrfToken }}">
					<input class="primary-button" type="submit" value="Post Reply">
				</form>
			</div>
		</div>
	</div>
</div>
{{ end }}
